@page "/medicalrecordoverview"
@inject HttpClient Http
<h3>MedicalRecord</h3>

@if (MedicalRecords == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
        <th>MedicalRecord ID</th>
        <th>MedicalRecord IdAppointment</th>
        <th>MedicalRecord IdClient</th>
        </thead>
        <tbody>
            @foreach (var medicalRecord in MedicalRecords)
            {
            <tr>
                <td>@medicalRecord.Id</td>
                <td>@medicalRecord.IdAppointment</td>
                <td>@medicalRecord.IdClient</td>
            </tr>
            }
        </tbody>
    </table>

}
