<section id="content_start">
        <div class="main_section">
            <h2>
                BEST VETERINARY CLINICS CONNECTED INTO ONE APP
            </h2>
            <h3>
                Our mission is to provide the highest quality medical and surgical care to our patients. We strive to exceed our clients' expectations by treating owners and their pets with respect, honesty, and compassion and treating all animals as if they were our own, providing our services in a clean, safe, and friendly environment.
            </h3>
        <div class="button"><a href="/signupoverview"><h4>BOOK YOUR APPOINTMENT</h4></a></div>
        </div>

    
     <div class="container-fluid">
       <div class="row">
           <div class="col-xs-4 col-sm-4 col-md-4">
             <div class="thumbnail">
              <img src="images/cattt.png" id="cat">
             </div>
           </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
             <div class="thumbnail">
                 <img src="images/Layer 0.png" id="dog">
             </div>
           </div> 
       </div>
    </div>
    
</section>