@inherits LayoutComponentBase

<div class="page">
    <body>
        <section class="header_start">
            <UINavMenu />
        </section>

        <section class="content_start">
            <UIContent />
        </section>
    </body>
</div>