<section id="header_start">
        <nav>
            <a>
                <img src="images/duck.png" class="logo">
            </a>
            <h1>
                DucksNet
            </h1>
            <div>
                <ul>
                    <li class="active"><a href="#" >Sign In</a></li>
                    <li class="active"><a href="#" >Our clinics</a></li>
                </ul>
            </div>
        </nav>
 </section>